<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6 col-md-6">
      <div class="card">
        <div class="card-header">
          <h3>Add New Doctor</h3>
          <form [formGroup]="form" (ngSubmit)="addItem()">
            <div class="row mb-3">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="fw-bold">First Name <span class="text-danger">*</span></label>
                  <input type="text" class="form-control" formControlName="first_name" placeholder="Enter first name" [ngClass]="{ 'is-invalid': submitted && f.first_name.errors }">
                  @if (submitted && f.first_name.errors) {
                    <div class="invalid-feedback">
                      @if(f.first_name.errors.required){
                        <div>First name is required</div>
                      }
                    </div>
                  }
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="fw-bold">Last Name <span class="text-danger">*</span></label>
                  <input type="text" class="form-control" formControlName="last_name" placeholder="Enter last name" [ngClass]="{ 'is-invalid': submitted && f.last_name.errors }">
                  @if (submitted && f.last_name.errors) {
                    <div class="invalid-feedback">
                      @if (f.last_name.errors.required) {
                        <div>Last name is required</div>
                      }
                    </div>
                  }
                </div>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="fw-bold">Phone Number</label>
                  <input type="text" class="form-control" formControlName="phone" placeholder="Enter phone number">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="fw-bold">Email</label>
                  <input type="text" class="form-control" formControlName="email" placeholder="Enter email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                  @if (submitted && f.email.errors) {
                    <div class="invalid-feedback">
                      @if (f.email.errors.email) {
                        <div>Email must be a valid email address</div>
                      }
                    </div>
                  }
                </div>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="fw-bold">Gender</label>
                  <div class="btn-group btn-group-toggle" data-toggle="buttons">
                    <label class="btn">
                      <input type="radio" formControlName="gender" value="Female" checked>Female
                    </label>
                    <label class="btn">
                        <input type="radio" formControlName="gender" value="Male">Male
                    </label>
                    <label class="btn">
                        <input type="radio" formControlName="gender" value="Order">Order
                    </label>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="fw-bold">Quanlification</label>
                  <input type="text" class="form-control" formControlName="quanlification" placeholder="Enter quanlification">
                </div>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="fw-bold">Hospital</label>
                  <select class="form-select" formControlName="hospital_id" placeholder="Enter hospital">
                    @for (item of hospitalItems | async; track $index) {
                      <option [ngValue]="item.id">
                          {{item.name}}
                      </option>
                    }
                  </select>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="fw-bold">Department</label>
                  <select class="form-select" formControlName="department_id" placeholder="Enter department">
                    @for (item of departmentItems | async; track $index) {
                      <option [ngValue]="item.id">
                          {{item.name}}
                      </option>
                    }
                  </select>
                </div>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-md-12">
                <div class="form-group">
                  <label class="fw-bold">Job Specification</label>
                  <textarea rows="3" class="form-control" formControlName="job_specification" placeholder="Enter job specification"></textarea>
                </div>
              </div>
            </div>

            <div class="row mb-3">
              <div class="col form-group mb-3 d-grid gap-2 d-md-flex">
                <button [disabled]="loading" class="btn btn-outline-primary">
                    @if (loading){
                      <span class="spinner-border spinner-border-sm mr-1"></span>
                    }
                    Save
                </button>

                <button class="btn btn-outline-secondary" routerLink="/Doctor">Cancel</button>
              </div>
            </div>
          </form>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
<router-outlet></router-outlet>
  