<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6 col-md-6">
      <div class="card">
        <div class="card-header">
          <h3>Edit Doctor</h3>
          <form [formGroup]="form" (ngSubmit)="updateItem()">
            <div class="row mb-3">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="fw-bold">First Name <span class="text-danger">*</span></label>
                  <input type="text" class="form-control" formControlName="first_name" placeholder="Enter first name" [ngClass]="{ 'is-invalid': submitted && f.first_name.errors }">
                  <div *ngIf="submitted && f.first_name.errors" class="invalid-feedback">
                      <div *ngIf="f.first_name.errors.required">First name is required</div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="fw-bold">Last Name <span class="text-danger">*</span></label>
                  <input type="text" class="form-control" formControlName="last_name" placeholder="Enter last name" [ngClass]="{ 'is-invalid': submitted && f.last_name.errors }">
                  <div *ngIf="submitted && f.last_name.errors" class="invalid-feedback">
                      <div *ngIf="f.last_name.errors.required">Last name is required</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="fw-bold">Phone Number</label>
                  <input type="text" class="form-control" formControlName="phone" placeholder="Enter phone number">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="fw-bold">Email</label>
                  <input type="text" class="form-control" formControlName="email" placeholder="Enter email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                  <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                      <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="fw-bold">Gender</label>
                  <div class="btn-group btn-group-toggle" data-toggle="buttons">
                    <label class="btn">
                      <input type="radio" formControlName="gender" value="Female" checked>Female
                    </label>
                    <label class="btn">
                        <input type="radio" formControlName="gender" value="Male">Male
                    </label>
                    <label class="btn">
                        <input type="radio" formControlName="gender" value="Order">Order
                    </label>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="fw-bold">Quanlification</label>
                  <input type="text" class="form-control" formControlName="quanlification" placeholder="Enter quanlification">
                </div>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="fw-bold">Hospital</label>
                  <select [(ngModel)]="hospital_id" class="form-select" formControlName="hospital_id" placeholder="Enter hospital">
                    <option *ngFor="let item of hospitalItems" [ngValue]="item.id">
                        {{item.name}}
                    </option>
                  </select>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="fw-bold">Department</label>
                  <select [(ngModel)]="department_id" class="form-select" formControlName="department_id" placeholder="Enter department">
                    <option *ngFor="let item of departmentItems" [ngValue]="item.id">
                        {{item.name}}
                    </option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-md-12">
                <div class="form-group">
                  <label class="fw-bold">Job Specification</label>
                  <textarea rows="3" class="form-control" formControlName="job_specification" placeholder="Enter job specification"></textarea>
                </div>
              </div>
            </div>

            <div class="row mb-3">
              <div class="col form-group mb-3 d-grid gap-2 d-md-flex">
                <button [disabled]="loading" class="btn btn-primary">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    Save
                </button>

                <button class="btn btn-secondary" routerLink="/Doctor">Cancel</button>
              </div>
            </div>
          </form>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
  