    .my-double-bordered-table {
      border-top: 3px double black; /* Adjust thickness and color as needed */
      border-bottom: 3px double black; /* Adjust thickness and color as needed */
    }

    /* Optional: To remove internal cell borders if desired */
    .my-double-bordered-table th,
    .my-double-bordered-table td {
      border: none;
    }
    .medicalcare-border-top td {
        border-top: 1px solid #000!important;

    }
    .medicalcare-border-tb td {
        border-top: 1px solid #000;
        border-bottom: 1px solid #000;

    }
    .medicalcare-border-r td {
        border-right: 1px solid black!important;

    }    
