<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6 col-md-6">
      <div class="card">
        <div class="card-header">
          <h3>Edit Patient</h3>
          <form [formGroup]="form" (ngSubmit)="updateItem()">
            <div class="row mb-3">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="fw-bold">Code <span class="text-danger">*</span></label>
                  <input type="text" class="form-control" formControlName="code" placeholder="Enter code" [ngClass]="{ 'is-invalid': submitted && f.code.errors }">
                  @if (submitted && f.code.errors) {
                    <div  class="invalid-feedback">
                        @if (f.code.errors.required) {
                          <div >Code is required</div>
                        }
                    </div>
                  }
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="fw-bold">First Name <span class="text-danger">*</span></label>
                  <input type="text" class="form-control" formControlName="first_name" placeholder="Enter first name" [ngClass]="{ 'is-invalid': submitted && f.first_name.errors }">
                  @if (submitted && f.first_name.errors) {
                    <div  class="invalid-feedback">
                      @if (f.first_name.errors.required) {
                        <div >First name is required</div>
                      }
                    </div>
                  }
                </div>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="fw-bold">Last Name <span class="text-danger">*</span></label>
                  <input type="text" class="form-control" formControlName="last_name" placeholder="Enter last name" [ngClass]="{ 'is-invalid': submitted && f.last_name.errors }">
                  @if (submitted && f.last_name.errors) {
                    <div  class="invalid-feedback">
                      @if (f.last_name.errors.required) {
                        <div >Last name is required</div>
                      }
                    </div>
                  }
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="fw-bold">Date of birth</label>
                  <input type="date" class="form-control" formControlName="date_of_birth" placeholder="Enter date of birth" [ngClass]="{ 'is-invalid': submitted && f.date_of_birth.errors }">
                  @if (submitted && f.date_of_birth.errors) {
                    <div  class="invalid-feedback">
                      @if(f.date_of_birth.errors.required){
                        <div >Date of birth is required</div>
                      }
                      @if (form.get('date_of_birth')?.hasError('dateGreaterThanToday')) {
                        <div >Date of birth cannot be today or in the future</div>
                      }
                    </div>
                  }
                </div>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="fw-bold">Email</label>
                  <input type="text" class="form-control" formControlName="email" placeholder="Enter email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                  @if (submitted && f.email.errors) {
                    <div class="invalid-feedback">
                      @if (f.email.errors.required) {
                        <div>Email is required</div>
                      }
                      @if (f.email.errors.email) {
                        <div>Email must be a valid email address</div>
                      }
                    </div>
                  }
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="fw-bold">Gender</label>
                  <div class="btn-group btn-group-toggle" data-toggle="buttons">
                    <label class="btn">
                      <input type="radio" formControlName="gender" value="Female" checked>Female
                    </label>
                    <label class="btn">
                        <input type="radio" formControlName="gender" value="Male">Male
                    </label>
                    <label class="btn">
                        <input type="radio" formControlName="gender" value="Order">Order
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="fw-bold">Phone Number</label>
                  <input type="text" class="form-control" formControlName="phone_number" placeholder="Enter phone number">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="fw-bold">Job</label>
                  <input type="text" class="form-control" formControlName="job" placeholder="Enter job">
                </div>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-md-12">
                <div class="form-group">
                  <label class="fw-bold">Home Address</label>
                  <input type="text" class="form-control" formControlName="home_address" placeholder="Enter home address">
                </div>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-md-12">
                <div class="form-group">
                  <label class="fw-bold">Office Address</label>
                  <input type="text" class="form-control" formControlName="office_address" placeholder="Enter office address">
                </div>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="fw-bold">Emergency Contact Name</label>
                  <input type="text" class="form-control" formControlName="emergency_contact_name" placeholder="Enter emergency contact name">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="fw-bold">Emergency Contact Phone</label>
                  <input type="text" class="form-control" formControlName="emergency_contact_phone" placeholder="Enter emergency contact phone">
                </div>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="fw-bold">Insurance Number</label>
                  <input type="text" class="form-control" formControlName="insurance_policy_number" placeholder="Enter insurance number">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="fw-bold">Insurance Expire</label>
                  <input type="date" class="form-control" formControlName="insurance_expire" placeholder="Enter insurance expire">
                </div>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="fw-bold">Insurance Provider</label>
                  <input type="text" class="form-control" formControlName="insurance_provider" placeholder="Enter Insurance Provider">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="fw-bold">Insurance Type</label>
                  <input type="text" class="form-control" formControlName="insurance_type" placeholder="Enter Insurance Type">
                </div>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-md-12">
                <div class="form-group">
                  <label class="fw-bold">Insurance Info</label>
                  <textarea rows="3" class="form-control" formControlName="insurance_info" placeholder="Enter insurance info"></textarea>
                </div>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-md-12">
                <div class="form-group">
                  <label class="fw-bold">Medical History</label>
                  <textarea rows="3" class="form-control" formControlName="medical_history" placeholder="Enter medical history"></textarea>
                </div>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col form-group mb-3 d-grid gap-2 d-md-flex">
                <button [disabled]="loading" class="btn btn-outline-primary">
                    @if (loading){
                      <span class="spinner-border spinner-border-sm mr-1"></span>
                    }
                    Save
                </button>

                <button class="btn btn-outline-secondary" routerLink="/Patient">Cancel</button>
              </div>
            </div>
          </form>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
<router-outlet></router-outlet>
  