<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 col-md-4">
            <div class="card">
                <div class="card-header">
                    <h3>{{title}}</h3>
                    <form [formGroup]="form" (ngSubmit)="save()">
                        <div class="row mb-3">
                            <div class="form-group">
                                <label class="fw-bold">Name EN <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" formControlName="name_en" placeholder="Enter name EN" [ngClass]="{ 'is-invalid': submitted && f.name_en.errors }">
                                @if (submitted && f.name_en.errors) {
                                    <div class="invalid-feedback">
                                    @if (f.name_en.errors.required) {
                                        <div>name_en is required</div>
                                    }
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="form-group">
                            <label class="fw-bold">Name VN</label>
                            <input type="text" class="form-control" formControlName="name_vn" placeholder="Enter name VN">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="form-group">
                            <label class="fw-bold">Name JP</label>
                            <input type="text" class="form-control" formControlName="name_jp" placeholder="Enter name JP">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="form-group">
                                <label class="fw-bold">Description</label>
                                <textarea rows="3" class="form-control" formControlName="description" placeholder="Enter description"></textarea>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col form-group mb-3 d-grid gap-2 d-md-flex">
                                <button [disabled]="loading" class="btn btn-primary">
                                    @if (loading){
                                        <span class="spinner-border spinner-border-sm mr-1"></span>
                                    }
                                    Save
                                </button>
                                <button class="btn btn-secondary" routerLink="/Treatement/Category">Cancel</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
<router-outlet></router-outlet>