<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6 col-md-4">
      <div class="card">
        <div class="card-header">
          <h3>Add New Medicine</h3>
          <form [formGroup]="form" (ngSubmit)="addItem()">
            <div class="row mb-3">
                <div class="form-group">
                  <label class="fw-bold">Name <span class="text-danger">*</span></label>
                  <input type="text" class="form-control" formControlName="name" placeholder="Enter name" [ngClass]="{ 'is-invalid': submitted && f.name.errors }">
                    @if (submitted && f.name.errors) {
                      <div class="invalid-feedback">
                      @if (f.name.errors.required) {
                          <div>Name is required</div>
                      }
                      </div>
                    }
                </div>
            </div>
            <div class="row mb-3">
                <div class="form-group">
                    <label class="fw-bold">Type</label>
                    <select class="form-select" formControlName="category_id" placeholder="Enter type">
                      @for (item of medicineTypeItems | async; track $index) {
                        <option [ngValue]="item.id">
                            {{item.name_en}}
                        </option>
                      }
                    </select>
                </div>
            </div>
            <div class="row mb-3">
                <div class="form-group">
                    <label class="fw-bold">Price</label>
                    <input type="text" class="form-control" formControlName="price" placeholder="Enter price">
                </div>
            </div>

            <div class="row mb-3">
              <div class="col form-group mb-3 d-grid gap-2 d-md-flex">
                <button [disabled]="loading" class="btn btn-outline-primary">
                    @if (loading){
                      <span class="spinner-border spinner-border-sm mr-1"></span>
                    }
                    Save
                </button>

                <button class="btn btn-outline-secondary" routerLink="/Medicine">Cancel</button>
              </div>
            </div>
          </form>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
<router-outlet></router-outlet>
  