<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6 col-md-4">
      <div class="card">
        <div class="card-header">
          <h3>Edit Medicine</h3>
          <form [formGroup]="form" (ngSubmit)="updateItem()">
            <div class="row mb-3">
                <div class="form-group">
                  <label class="fw-bold">Name <span class="text-danger">*</span></label>
                  <input type="text" class="form-control" formControlName="name" placeholder="Enter name" [ngClass]="{ 'is-invalid': submitted && f.name.errors }">
                    @if (submitted && f.name.errors) {
                      <div class="invalid-feedback">
                        @if (f.name.errors.required) {
                          <div>Name is required</div>
                        }
                      </div>
                    }
                </div>
            </div>
            <div class="row mb-3">
                <div class="form-group">
                    <label class="fw-bold">Input Date <span class="text-danger">*</span></label>
                    <input type="date" class="form-control" formControlName="input_date" placeholder="Enter input date" [ngClass]="{ 'is-invalid': submitted && f.input_date.errors }">
                    @if (submitted && f.input_date.errors) {
                      <div class="invalid-feedback">
                        @if (f.input_date.errors.required) {
                          <div>Input date is required</div>
                        }
                      </div>
                    }
                </div>
            </div>
            <div class="row mb-3">
                <div class="form-group">
                    <label class="fw-bold">Expire Date <span class="text-danger">*</span></label>
                    <input type="date" class="form-control" formControlName="expire_date" placeholder="Enter expire date" [ngClass]="{ 'is-invalid': submitted && f.expire_date.errors }">
                    @if (submitted && f.expire_date.errors) {
                      <div class="invalid-feedback">
                        @if (f.expire_date.errors.required) {
                          <div>Expire date is required</div>
                        }
                      </div>
                    }
                </div>
            </div>
            <div class="row mb-3">
                <div class="form-group">
                    <label class="fw-bold">Type</label>
                    <input type="text" class="form-control" formControlName="type" placeholder="Enter type">
                </div>
            </div>
            <div class="row mb-3">
                <div class="form-group">
                    <label class="fw-bold">Price</label>
                    <input type="text" class="form-control" formControlName="price" placeholder="Enter price">
                </div>
            </div>

            <div class="row mb-3">
              <div class="col form-group mb-3 d-grid gap-2 d-md-flex">
                <button [disabled]="loading" class="btn btn-primary">
                    @if (loading){
                      <span class="spinner-border spinner-border-sm mr-1"></span>
                    }
                    Save
                </button>

                <button class="btn btn-secondary" routerLink="/Medicine">Cancel</button>
              </div>
            </div>
          </form>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
<router-outlet></router-outlet>
  