<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 col-md-10">
            <div class="card">
                <div class="card-header">
                    <h3>{{title}}</h3>
                    <form [formGroup]="form">
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="fw-bold">Patient <span class="text-danger">*</span></label>
                                    <select class="form-select" formControlName="patient_id" placeholder="Enter Patient" [ngClass]="{ 'is-invalid': submitted && f.patient_id.errors }">
                                        @for (item of patientItems| async; track $index) {
                                            <option [ngValue]="item.id">
                                                {{item.first_name}} {{item.last_name}}
                                            </option>
                                        }
                                    </select>
                                    @if (submitted && f.patient_id.errors) {
                                        <div class="invalid-feedback">
                                            @if (f.patient_id.errors.required) {
                                                <div>Patient is required
                                                </div>
                                            }
                                        </div>
                                    }
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="fw-bold">Doctor <span class="text-danger">*</span></label>
                                    <select class="form-select" formControlName="doctor_id" placeholder="Enter doctor" [ngClass]="{ 'is-invalid': submitted && f.doctor_id.errors }">
                                        @for (item of doctorItems | async; track $index) {
                                            <option [ngValue]="item.id">
                                                {{item.first_name}} {{item.last_name}}
                                            </option>
                                        }
                                    </select>
                                    @if (submitted && f.doctor_id.errors) {
                                        <div class="invalid-feedback">
                                            @if (f.doctor_id.errors.required) {
                                                <div>Doctor is required</div>
                                            }
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="fw-bold">Department <span class="text-danger">*</span></label>
                                    <select class="form-select" formControlName="department_id" placeholder="Enter department" [ngClass]="{ 'is-invalid': submitted && f.department_id.errors }">
                                        @for (item of departmentItems| async; track $index) {
                                            <option [ngValue]="item.id">
                                                {{item.name}}
                                            </option>
                                        }
                                    </select>
                                    @if (submitted && f.department_id.errors) {
                                        <div class="invalid-feedback">
                                            @if (f.department_id.errors.required) {
                                                <div>Department is required</div>
                                            }
                                        </div>
                                    }
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="fw-bold">Appointment</label>
                                    <select class="form-select" formControlName="appointment_id" placeholder="Enter Appointment">
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="fw-bold">Admission Date <span class="text-danger">*</span></label>
                                    <input type="date" class="form-control" formControlName="admission_date" placeholder="Enter admission date" [ngClass]="{ 'is-invalid': submitted && f.admission_date.errors }">
                                    @if (submitted && f.admission_date.errors) {
                                        <div class="invalid-feedback">
                                            @if (f.admission_date.errors.required) {
                                                <div>Admission date is required
                                                </div>
                                            }
                                        </div>
                                    }
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="fw-bold">Discharge Date</label>
                                    <input type="date" class="form-control" formControlName="discharge_date" placeholder="Enter discharge date">
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="fw-bold">Total days</label>
                                    <input type="number" class="form-control" formControlName="days" placeholder="Enter total days">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="fw-bold">Amount</label>
                                    <input type="number" class="form-control" formControlName="amount" placeholder="Enter amount">
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="fw-bold">Diagnostic</label>
                                    <textarea rows="3" class="form-control" formControlName="diagnostic" placeholder="Enter diagnostic"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="fw-bold">Notes</label>
                                    <textarea rows="3" class="form-control" formControlName="notes" placeholder="Enter Notes"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="fw-bold">Treatment:</label>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-12">
                                <button class="btn btn-primary" type="button" (click)="addOrEditTreatment(0)">Add</button>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-12">
                                <div class="tableFixHead">
                                    <table class="table table-striped">
                                        <thead class="table-header">
                                            <tr>
                                                <th>#</th>
                                                <th>Date</th>
                                                <th>Type</th>
                                                <th>Quantity</th>
                                                <th>Amount</th>
                                                <th>Sub Total</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @for (item of treatmentItems | async; track $index) {
                                                <tr>
                                                    <td>{{$index + 1}}</td>
                                                    <td>{{item.treatment_date|date:'dd/MM/yyyy'}}</td>
                                                    <td>{{item.treatment_type}}</td>
                                                    <td>{{item.quantity}}</td>
                                                    <td>{{item.amount|number:'0.2'}}</td>
                                                    <td>{{item.total|number:'0.2'}}</td>
                                                    <td>
                                                        <button class="btn btn-primary" style="margin-left: 10px;" (click)="addOrEditTreatment(item.id)">Edit</button>
                                                        <button class="btn btn-danger" style="margin-left: 10px;" (click)="deleteTreatment(item.id)">Delete</button>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-12">
                                <label class="fw-bold">Prescriptions:</label>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-12">
                                <button class="btn btn-primary" type="button" (click)="addOrEditPrescription(0)">Add</button>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-12">
                                <div class="tableFixHead">
                                    <table class="table table-striped">
                                        <thead class="table-header">
                                            <tr>
                                                <th>#</th>
                                                <th>Date</th>
                                                <th>Medicine</th>
                                                <th>Quantity</th>
                                                <th>Amount</th>
                                                <th>Sub Total</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @for (item of prescriptionItems | async; track $index) {
                                                <tr>
                                                    <td>{{$index + 1}}</td>
                                                    <td>{{item.prescription_date|date:'dd/MM/yyyy'}}</td>
                                                    <td>{{item.medicine_name}}</td>
                                                    <td>{{item.quantity}}</td>
                                                    <td>{{item.amount|number:'0.2'}}</td>
                                                    <td>{{item.total|number:'0.2'}}</td>
                                                    <td>
                                                        <button class="btn btn-primary" style="margin-left: 10px;" (click)="addOrEditPrescription(item.id)">Edit</button>
                                                        <button class="btn btn-danger" style="margin-left: 10px;" (click)="deletePrescription(item.id)">Delete</button>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col form-group mb-3 d-grid gap-2 d-md-flex">
                                <button type="button" [disabled]="loading" class="btn btn-primary" (click)="addOrEditItem()">
                                        @if (loading){
                                            <span class="spinner-border spinner-border-sm mr-1"></span>
                                        }
                                        Save
                                </button>
                                <button class="btn btn-secondary" (click)="cancel()">Cancel</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<router-outlet></router-outlet>