<div class="modal-header">
    <h4 class="modal-title">{{title}}</h4>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="onClose()"></button>
</div>
<div class="modal-body">
    <div class="container">
            <form [formGroup]="form">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="fw-bold">Medicine <span class="text-danger">*</span></label>
                            <select class="form-select" formControlName="medicine_id" placeholder="Enter Medicine" [ngClass]="{ 'is-invalid': submitted && f.medicine_id.errors }">
                                @for (item of medicineItems | async; track $index) {
                                    <option [ngValue]="item.id">
                                        {{item.name}}
                                    </option>
                                }
                            </select>
                            @if (submitted && f.medicine_id.errors) {
                                <div class="invalid-feedback">
                                @if (f.medicine_id.errors.required) {
                                    <div>Medicine is required</div>
                                }
                                </div>
                            }
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="fw-bold">Quantity <span class="text-danger">*</span></label>
                            <input type="number" class="form-control" formControlName="quantity" placeholder="Enter quantity" [ngClass]="{ 'is-invalid': submitted && f.quantity.errors }">
                            @if (submitted && f.quantity.errors) {
                                <div class="invalid-feedback">
                                @if (f.quantity.errors.required) {
                                    <div>Quantity is required</div>
                                }
                                </div>
                            }
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label></label>
                            <select class="form-select" formControlName="medicine_type">
                                @for (item of medicineTypeItems | async; track $index) {
                                    <option [ngValue]="item.name_en">
                                        {{item.name_en}}
                                    </option>
                                }
                            </select>
                        </div>
                    </div>
                </div>    
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="fw-bold">Duration <span class="text-danger">*</span></label>
                            <input type="number" class="form-control" formControlName="duration" placeholder="Enter duration" [ngClass]="{ 'is-invalid': submitted && f.duration.errors }">
                            @if (submitted && f.duration.errors) {
                                <div class="invalid-feedback">
                                @if (f.duration.errors.required) {
                                    <div>duration is required</div>
                                }
                                </div>
                            }
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label></label>
                            <select class="form-select" formControlName="duration_type">
                                @for (item of durationItems | async; track $index) {
                                    <option [ngValue]="item.name_en">
                                        {{item.name_en}}
                                    </option>
                                }
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="fw-bold">Dosage</label>
                            <textarea rows="3" class="form-control" formControlName="dosage" placeholder="Enter dosage"></textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="fw-bold">Notes</label>
                            <textarea rows="3" class="form-control" formControlName="notes" placeholder="Enter notes"></textarea>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        </div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="onClose()">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="onConfirm()">OK</button>
</div>
